# Runs allcontributors::add_contributors() to add, or update, an alphabetized
# list of contributors to the README.md file and open a new PR with those
# changes.
name: Collect contributors

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
    run-r-script:
        runs-on: ubuntu-latest
        env:
            GITHUB_PAT: ${{ secrets.GITHUB_TOKEN }}
        permissions:
            contents: write
            pull-requests: write
        steps:
            - name: Checkout repository
              uses: actions/checkout@v6
            - name: Setup R
              uses: r-lib/actions/setup-r@v2

            - uses: r-lib/actions/setup-r-dependencies@v2
              with:
                packages: |
                    gh
                    allcontributors
            - name: Collect contributor data
              run: Rscript -e 'allcontributors::add_contributors(files = c("README.md"))'
            - name: Create Pull Request
              uses: peter-evans/create-pull-request@v8
              with:
                commit-message: "chore: Updates contributors"
                branch: update-contributors
                base: dev
                title: "Update contributors"
                body: "This PR updates the contributors list."
                labels: "auto-update"
                add-paths: |
                  README.md
