# Runs devtools::spell_check().
name: call-spell-check

on:
  pull_request:
    branches:
      - dev
      - main
  push:
    branches:
      - dev
      - main
  workflow_dispatch:

jobs:
  call-workflow:
    uses: nmfs-ost/ghactions4r/.github/workflows/spell-check.yml@main
