# Checks that the pkgdown site builds for a repository, assuming that one
# already exists, but it does not actually deploy it. See
# call-update-pkgdown.yml for that.
name: call-build-pkgdown

on:
  pull_request:
    branches:
      - dev
      - main
  workflow_dispatch:

jobs:
  call-workflow:
    uses: nmfs-ost/ghactions4r/.github/workflows/build-pkgdown.yml@main
