# Updates the exiting pkgdown site for a repository by deploying the changes
# made to the pkgdown site to a branch called gh-pages.
name: call-update-pkgdown

on:
  pull_request:
    branches:
      - main
      - dev
  push:
    branches: 
      - main
      - dev
  workflow_dispatch:


jobs:
  call-workflow:
    uses: NOAA-FIMS/FIMS/.github/workflows/build-pkgdown.yml@dev-update-pkgdown-site
    with:
      build_testdown: true
      build_code_coverage: true
      # This expression is TRUE only on a push to main
      is_main_push: ${{ github.event_name == 'push' && github.ref == 'refs/heads/main' }}
