# Run doxygen to generate documentation from C++ code
name: run-doxygen
# The default build trigger is to run the action on every push for any branch
on:
  push:
  # To run the default repository branch weekly on sunday, uncomment the following 2 lines
  #schedule:
    #- cron: '0 0 * * 0'

jobs:
  build-and-deploy:
    name: Build HTML documentation from C++ code
    runs-on: ubuntu-latest
    env:
      GITHUB_PAT: ${{ secrets.GITHUB_TOKEN }}
    
    steps:
    - name: Fetching sources
      uses: actions/checkout@v2
    
    - name: Installing build dependencies
      run: |
        sudo apt update
        sudo apt install cmake doxygen gcc git
  
    - name: get last commit msg
        id: commit-msg
        run: |
          git tag
          last_commit_msg=$(git log -1 --pretty=%B)
          echo "::set-output name=msg::${last_commit_msg}"
    
    - name: Building HTML documentation with Doxygen
      run: |
        cmake -S . -B build -DBUILD_DOC=ON -G Ninja
        cmake --build build --parallel 16
        mkdir docs/doxygen
        mv build/html docs/doxygen

    
    
    - name: Create Pull Request
          if: ${{ !contains(steps.commit-msg.outputs.msg, 'document') }}
          uses: peter-evans/create-pull-request@v3
          with:
            commit-message: 'Docs: run Doxygen'
            branch: update-Doxygen-docs
            title: 'Update Doxygen documentation'
            body: |
            Auto-generated by [run-doxygen][1]
              [1]: https://github.com/NOAA-FIMS/FIMS/blob/main/.github/workflows/run-doxygen.yml