# Run C++ tests using GoogleTest
name: run-googletest
# on specifies the build triggers. See more info at https://docs.github.com/en/actions/learn-github-actions/events-that-trigger-workflows
on:
# The default build trigger is to run the action on every push and pull request, for any branch
  push:
  # To run the default repository branch weekly on sunday, uncomment the following 2 lines
  #schedule:
    #- cron: '0 0 * * 0'
jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
      # Use windows-2019 instead of windows-latest to avoid using Mingw-w64 
        os: [ubuntu-latest, macos-latest, windows-latest, windows-2019]

    steps:
    - uses: actions/checkout@v2
    - uses: seanmiddleditch/gha-setup-ninja@master # https://github.com/seanmiddleditch/gha-setup-ninja

    - name: Configure
    # Do not run -DBUILD_DOC=OFF locally. Only run cmake -S . -B build -G Ninja locally.
      run: |
        cmake -S . -B build -DBUILD_DOC=OFF -G Ninja -DCMAKE_CROSSCOMPILING=1 -DRUN_HAVE_STD_REGEX=0 -DRUN_HAVE_POSIX_REGEX=0 -DRUN_GNU_POSIX_REGEX=0 
        
    - name: Build
      run: |  
        cmake --build build --parallel 16
        
    - name: Test
      run: |
        ctest --test-dir build --parallel 16
    
    - name: Upload log when tests failed
      uses: actions/upload-artifact@v3
      if: failure()
      with:
        name: googletest-log-${{ matrix.os }}
        path: |
          build/Testing/Temporary/LastTest.log
          build/CMakeFiles/CMakeOutput.log

    - name: Upload coverage to Codecov
      uses: codecov/codecov-action@v2
      
    - run: bash <(curl -s https://codecov.io/bash)
      shell: bash
