name: run-slow-tests
on:
  # Allows manual trigger from the Actions tab
  workflow_dispatch: 
  # Trigger when creating a pull request
  pull_request:
    branches:
      - dev
      - main
  push:
    branches:
      - dev
      - main
  # This runs at 00:00 UTC every Monday
  schedule:
    - cron: '0 0 * * 1'  

# no permissions are needed by the default github token for this workflow to 
# run, so don't pass any.  
# https://docs.github.com/en/actions/writing-workflows/choosing-what-your-workflow-does/controlling-permissions-for-github_token  
permissions: {}

jobs:
  slow-tests:
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]
    name: ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    
    env:
      RUN_SLOW_TESTS: "true"
      GITHUB_PAT: ${{ secrets.PAT }}

    steps:
      - uses: actions/checkout@v6
      
      # Current Ubuntu runners lack enough RAM for parallel tests.
      # The step below creates a 16 GB swap file to prevent R processes
      # from being terminated due to out-of-memory errors.
      - name: Create Manual Swap (Linux)
        if: matrix.os == 'ubuntu-latest'
        run: |
          # Pre-allocate 16GB of disk space for the swap file.
          sudo fallocate -l 16G /swapfile
          # Restricted permissions are required; swap files must be 
          # readable only by the root user for security.
          sudo chmod 600 /swapfile
          # Format the allocated file into a Linux swap area.
          sudo mkswap /swapfile
          # Activate the swap file, adding 16GB of virtual memory to the 
          # physical RAM.
          sudo swapon /swapfile

      - uses: r-lib/actions/setup-r@v2
        with:
          use-public-rspm: true

      - uses: r-lib/actions/setup-r-dependencies@v2
        with:
          extra-packages: |
            any::devtools
            any::snowfall
          needs: check

      - name: Run Slow Tests Only
        shell: Rscript {0}
        run: |
          # Windows-specific fix for the "files too big" error
          if (Sys.info()[["sysname"]] == "Windows") {
            withr::local_options(pkg.build_extra_flags = FALSE)
          }

          # The filter looks for files with 'slow' in the name
          devtools::test(filter = "slow")
          